<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">El Faro 🚨</span>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link me-2">Courses</a></li>
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-outline-primary">Logout</button>
        {% else %}
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
        {% endif %}
    </ul>
</header>